<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>logIn</title>
    <link rel="stylesheet" href="css/login.css">

</head>
<body>
    <div class="main">
        <h1>log In</h1>
        <form action="/" method="post">
            <div class="log">
                <input type="email" placeholder="Email" name="email" id="email">
                <input type="password" placeholder="Password" name="password" id="password" >
            </div>
            <button type="submit" class="login">log In</button>
        </form>
            <form action="/getsignup" method="get">
                <h2>Dont have an accound ?</h2>
                <button type="submit" class="signup">signUp Here </button>
            </form>
        
    </div>
</body>
</html>