*{
    margin: 0;
    padding: 0;
}
h1{
    font-family: sans-serif;
    font-size: 50px;
}
label{
    font-size: 30px;
    font-family: sans-serif;
}
.addItems{
   position: absolute;
   top: 10%;
   left: 40%;
}
input,textarea{
    width:500px ;
}
input{
    height: 60px;
    text-align: center;
    font-size: larger;
}
textarea{
    height: 150px;
    font-size: large;
}
button{
    height: 40px;
    width: 150px;
    background-color: green;
    border: none;
    font-size: larger;
    border-radius: 10px;
    color: white;

}